body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  width: 85%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

h1 {
  text-align: center;
  color: darkblue;
}

.form-box,
.student-box,
.result-box,
.saved-records {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

.subject-box {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

button {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: navy;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: darkblue;
  color: white;
}

th,
td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.summary-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #f4f8ff;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}